body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-image: url(images/background.png);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right_side{
    font-weight: bold;
    display: inline;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    padding: 10%;
}

a:hover{
   color:#adadad;
   font-weight:bold;
}

.paragraph{
    font-size: 24px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.downloads{
    text-align: center;
    font-size: 40px;
}

.android{
    text-align: center;
    font-size: 25px;
}